/*Table of Contents

* Defaults
* Bootstrap Overrides
* Typography
* Hyperlinks
* Body
* Header
* Hero
* Navigation
* Navigation Extras
* Fancy Navigation
* Content
* Post Meta
* Sharing
* Post Icons
* Post Navigation
* Author Box
* Comments
* Sidebars
* Mobile Sidebar
* Footer
* Singular Page
* Gallery Page
* Archives Page
* 404 Page
* Feedburner Member Subscription
* Related Posts Widget
* Top Link

Defaults
------------------------------------------------------------*/
.wp-caption IMG
{
	margin-left: 4px;
}
/*Bootstrap Overrides
------------------------------------------------------------*/
.post-thumbnail .img-responsive
{
	-webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
	border: thin solid #FFFFFF;
	padding: 3px;
}
/*Typography
--------------------------------------------------------------*/
.navbar #nav
{
	text-transform: uppercase;
}
/*Hyperlinks
------------------------------------------------------------*/
H2.entry-title A
{
	font-size: 26px;
	font-size: 1.625rem;
	color: #262626;
}
H2.entry-title A:hover
{
	color: #A8BB61;
}
A
{
	color: #A8BB61;
}
A:hover
{
	color: #C03D20;
}
/*BODY
------------------------------------------------------------
Header
------------------------------------------------------------*/
HEADER .container-fluid
{
	padding: 0px;
}
.header-wrapper
{
	position: relative;
	text-align: center;
}
/*Hero
------------------------------------------------------------*/
.at_responsive_hero .soliloquy-slider IMG.soliloquy-image, .at_responsive_hero #slider.at_banner_img IMG
{
	width: 100%;
	display: block;
}
.sticky-nav HEADER .at_responsive_hero
{
	margin-top: 50px;
}
.sticky-nav.tall-nav HEADER .at_responsive_hero
{
	margin-top: 101px;
}
.ltDeskTop .sticky-nav HEADER .at_responsive_hero
{
	margin-top: 64px;
}
.ltDeskTop .sticky-nav.tall-nav HEADER .at_responsive_hero
{
	margin-top: 101px;
}
HEADER .at_responsive_hero #slider .soliloquy-container
{
	margin-bottom: 0px !important;
}
/*Navigation
------------------------------------------------------------*/
.navbar
{
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border: none;
	-webkit-box-shadow: 0 1px 2px #bcca85;
	-moz-box-shadow: 0 1px 2px #bcca85;
	box-shadow: 0 1px 2px #BCCA85;
}
.navbar-toggle
{
	border: none;
	border-color: transparent;
	border-width: 0;
	border-style: none;
}
.navbar .navbar-header BUTTON.navbar-toggle:hover
{
	border-style: none;
	background-color: transparent;
	background-image: none;
	color: #636654;
	border-color: transparent;
	border-width: 0;
}
.navbar .navbar-header BUTTON.navbar-toggle .icon-bar
{
	height: 3px;
}
.navbar .navbar-header BUTTON.navbar-toggle:hover .icon-bar
{
	background-color: #A8BB61;
}
.navbar-inverse
{
	background-color: #A8BB61;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form
{
	border-color: #CAD59F;
}
.navbar-inverse .navbar-nav > .active > A:hover, .navbar-inverse .navbar-nav > LI > A:hover
{
	background-color: #F6F8F1;
}
.navbar-inverse .navbar-nav > .active > A, .navbar-inverse .navbar-nav > .open > A, .navbar-inverse .navbar-nav > .open > A, .navbar-inverse .navbar-nav > .open > A:hover, .navbar-inverse .navbar-nav > .open > A, .navbar-inverse .navbar-nav > .open > A:hover, .navbar-inverse .navbar-nav > .open > A:focus
{
	background-color: #FFFFFF;
}
.navbar-inverse .navbar-nav .dropdown-menu > .active > A, .navbar-inverse .navbar-nav .dropdown-menu > .active > A:hover, .navbar-inverse .navbar-nav .dropdown-menu > .active > A:focus
{
	background-color: transparent;
	color: #99AE4B;
}
.navbar-inverse .navbar-nav > .open > A
{
	background-color: #BAC886;
}
.navbar-inverse .navbar-nav > .open > .dropdown-menu, .navbar-inverse .navbar-nav > .open > .dropdown-menu LI
{
	background-color: #F6F8F1;
}
.navbar .dropdown-menu
{
	background-color: #F6F8F1;
	padding: 0px;
}
.navbar .dropdown-menu > LI > A:hover, .navbar .dropdown-menu > LI > A:focus
{
	background-color: #BAC886;
	color: #9EB34F;
}
.navbar-inverse
{
	background-image: none;
}
.navbar .dropdown-menu > LI > A:hover, .navbar .dropdown-menu > LI > A:focus
{
	background-image: none;
}
.navbar-inverse
{
	border-color: #CDCFC4;
}
.navbar-inverse .navbar-brand
{
	color: #FFFFFF;
}
.navbar-inverse .navbar-brand:hover
{
	color: #FFFFFF;
}
.navbar-inverse .navbar-nav > LI > A
{
	color: #FFFFFF;
}
.navbar-inverse .navbar-nav > LI > A:hover
{
	color: #A8BB61;
}
.navbar-inverse .navbar-nav > .active > A, .navbar-inverse .navbar-nav > .open > A, .navbar-inverse .navbar-nav > .open > A:hover, .navbar-inverse .navbar-nav > .open > A:focus
{
	color: #576134;
}
.navbar-inverse .navbar-collapse.collapse.in .navbar-nav
{
	margin-bottom: 0px;
}
.navbar-inverse .navbar-nav > .active > A:hover, .navbar-inverse .navbar-nav > .active > A:focus
{
	color: #A8BB61;
}
.navbar .dropdown-menu > LI > A
{
	color: #666666;
	padding: 8px 20px;
}
.navbar .dropdown-menu > LI > A:hover, .navbar .dropdown-menu > LI > A:focus
{
	color: #FFFFFF;
}
.navbar-inverse .navbar-nav > .dropdown > A .caret
{
	border-top-color: #FFFFFF;
}
.navbar-inverse .navbar-nav > .dropdown > A:hover .caret
{
	border-top-color: #A8BB61;
}
.navbar-inverse .navbar-nav > .dropdown.current-menu-ancestor > A .caret
{
	border-top-color: #A8BB61;
}
.navbar-inverse .navbar-nav > .dropdown.active > A .caret
{
	border-top-color: #A8BB61;
}
.navbar-inverse .navbar-nav > .dropdown > A .caret
{
	border-bottom-color: #FFFFFF;
}
.navbar-inverse .navbar-nav > .dropdown > A:hover .caret
{
	border-bottom-color: #A8BB61;
}
.navbar-inverse .navbar-nav > .dropdown.active > A .caret
{
	border-bottom-color: #A8BB61;
}
.navbar.navbar-inverse .navbar-collapse.collapse.in .nav > LI
{
	border-bottom: 1px solid #8FA346;
}
.navbar.navbar-inverse .navbar-collapse.collapse .dropdown UL > LI
{
	border-bottom: 1px solid #DBDED1;
}
.navbar.navbar-inverse .navbar-collapse.collapse .dropdown UL > LI:last-child
{
	border-bottom: none;
}
.navbar.navbar-inverse .navbar-collapse.collapse .dropdown UL > LI A
{
	color: #333;
}
.navbar.navbar-inverse .navbar-collapse.collapse .nav > LI:last-child, .navbar.navbar-inverse .navbar-collapse.collapse .dropdown UL > LI:last-child
{
	border-bottom: none;
}
/*Navigation Extras
------------------------------------------------------------*/
.navbar .icon-button > .dropdown
{
	border-left: thin solid #878787;
}
.navbar .navbar-icons > .icon-button:nth-last-of-type(2) > .dropdown
{
	margin-left: 15px;
}
.navbar .navbar-icons > .icon-button:first-child > .dropdown
{
	border-right: thin solid #878787;
}
.ltDeskTop .navbar-layout.layout-top
{
	border-bottom: thin solid #99AE4B;
}
.navbar-highlight
{
	border-left: thin solid #99AE4B;
}
.navbar-highlight.hidden-xs
{
	border-right: thin solid #99AE4B;
}
.navbar-highlight:hover
{
	background-color: #F6F8F1;
}
.navbar .bold-phone
{
	width: 174px;
}
.navbar BUTTON.search-button .glyphicon
{
	color: #FFF;
}
.navbar BUTTON.search-button:hover .glyphicon
{
	color: #A8BB61;
}
.navbar-phone A, .navbar-phone A:hover
{
	font-weight: 700;
}
/*Content
------------------------------------------------------------*/
.hentry .layout-wrapper
{
	margin: 5px;
}
BODY:not(.singular) ARTICLE .content-wrapper
{
	padding: 5px 10px;
}
BODY:not(.singular) ARTICLE .content-wrapper
{
	-webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
	background: #EEEEE1;
}
BODY:not(.singular) ARTICLE.sticky .content-wrapper
{
	background: #D8D8BC;
}
BODY:not(.singular) ARTICLE .content-wrapper
{
	-webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
	background: #EEEEE1;
}
BODY:not(.singular) ARTICLE.sticky .content-wrapper
{
	background: #D8D8BC;
}
BODY:not(.singular) ARTICLE .entry-header .entry-meta
{
	font-size: 0.9rem;
	font-size: 14px;
}
/*Post Meta
------------------------------------------------------------*/
.entry-meta .post-meta
{
	border-top: thin solid #DEDEDE;
	padding: 8px 0;
	margin-top: 15px;
	font-size: 14px;
	font-size: 0.875rem;
	font-style: italic;
	line-height: 1.5;
}
.entry-meta .post-meta LI
{
	list-style: none;
	margin: 0px;
	padding: 0px;
	font-size: 100%;
	vertical-align: baseline;
}
.entry-meta .post-meta LI
{
	color: #999999;
	line-height: 24px;
	line-height: 2rem;
}
.entry-meta .post-meta LI .icon:before
{
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: "Glyphicons Halflings";
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.entry-meta .post-meta LI .icon
{
	margin-right: 10px;
}
.entry-meta .post-meta LI.categories .icon:before
{
	content: "\e118";
}
.entry-meta .post-meta LI.tags .icon:before
{
	content: "\e042";
}
.entry-meta .post-meta LI.categories A:after, .entry-meta .post-meta LI.tags A:after
{
	content: " \00A0";
}
/*Sharing
------------------------------------------------------------*/
.read-n-share
{
	margin: 35px 0;
	line-height: 1.625em;
}
.read-n-share A.read-more
{
	background: #E3E9CC;
	color: #9EB34F;
	font-size: 18px;
	font-size: 1.125rem;
	width: 100%;
	padding: 8px;
}
.read-n-share A.share-post
{
	float: right;
	vertical-align: top;
}
.share-drawer.collapse.in .panel-body
{
	border-top: thin solid #DEDEDE;
}
.archive-parent .share-drawer.collapse.in .panel-body
{
	clear: both;
	margin-left: 6px;
	width: 98%;
}
.ltTabletTall .social-share-in-title
{
	float: none;
}
.ltTabletTall .singular .entry-header .entry-title
{
	text-align: center;
}
.ltTabletTall .social-share-in-title
{
	text-align: center;
	border-top: thin solid #CFDAA8;
	margin-left: 0px;
	margin-right: 0;
	margin-top: 5px;
	padding-top: 5px;
}
/*Post Icons
------------------------------------------------------------*/
.read-n-share A.share-post .glyphicon
{
	margin: 0 5px;
	font-size: 36px;
	font-size: 2.2rem;
	line-height: 18px;
	line-height: 1rem;
}
.read-n-share A.share-post .glyphicon
{
	color: #A8BB61;
	text-align: center;
}
.read-n-share A.share-post .glyphicon:hover
{
	color: #FFFFFF;
	text-shadow: 0 1px 2px #CFDAA8;
}
.social-share-in-title I.iconf
{
	color: #A8BB61;
}
/*Post Navigation
------------------------------------------------------------*/
.pagination
{
	border-top: thin solid #DEDEDE;
}
.pagination > A > SPAN
{
	border-bottom: thin dotted #C5D296;
}
.pagination > A
{
	color: #C5D296;
	font-size: 18px;
	font-size: 1.125rem;
}
.pagination > A:hover
{
	color: #80913E;
}
.pagination .glyphicon
{
	font-size: 0.8rem;
	vertical-align: 1px;
}
/*Author Box
------------------------------------------------------------
Comments
------------------------------------------------------------
Sidebars
------------------------------------------------------------*/
.loop-end
{
	margin-top: 20px;
}
ASIDE
{
	padding: 5px 0;
	margin: 5px 0;
}
.widget-area .widget
{
	overflow: hidden;
	position: relative;
}
.widget-wrap, .widget-content
{
	position: relative;
}
ASIDE .widget-frame
{
	height: 100%;
	/*[disabled]display:table;*/
	/*[disabled]vertical-align:middle;*/
	border-spacing: 0px 5px;
	/*[disabled]text-align:center;*/
}
ASIDE .widget-frame
{
	background: #EEEEE1;
	border: thin solid #A8BB61;
	-webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}
H4.widgettitle
{
	text-transform: uppercase;
	padding: 10px 15px;
	margin: 0px 0 10px;
}
ASIDE .btn
{
	background: #A8BB61;
}
ASIDE .btn:hover
{
	color: #262626;
}
ASIDE .rounded
{
	background: #A8BB61;
	-webkit-box-shadow: 0px 0px 2px #cfdaa8;
	-moz-box-shadow: 0px 0px 2px #cfdaa8;
	box-shadow: 0px 0px 2px #CFDAA8;
	color: #FFFFFF;
}
ASIDE .rounded:hover
{
	color: #262626;
}
.gtMobileWide ASIDE .widget-frame
{
	max-height: 400px !important;
}
.deck .widget-frame .widget-content
{
	vertical-align: middle;
	height: 100%;
	width: 100%;
	position: relative;
}
.gtMobileWide .deck .widget-frame .widget-content
{
	display: table-cell;
}
/*Mobile Sidebar
------------------------------------------------------------*/
.mobile-header-content LI .btn
{
	background: #A8BB61;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
	color: #FFFFFF;
}
.mobile-header-content LI .btn:hover
{
	color: #000000;
}
/*Footer
------------------------------------------------------------*/
FOOTER#footer
{
	padding: 20px 0;
	background: #A8BB61;
}
.ltTabletTall FOOTER#footer UL.address
{
	border-bottom: thin solid #727272;
}
FOOTER#footer .container
{
	color: #FFFFFF;
	font-family: Cardo, serif;
}
FOOTER#footer > DIV
{
	color: #FFFFFF;
	font-family: Cardo, serif;
}
FOOTER#footer > DIV > UL LI
{
	border-right: thin solid #D2D2B0;
}
FOOTER#footer > DIV > UL LI:last-child
{
	border-right: none;
}
FOOTER#footer UL LI
{
	border-right: thin solid #D2D2B0;
}
FOOTER#footer A
{
	color: #000000;
}
/*Singular Page
------------------------------------------------------------*/
.singular ARTICLE
{
}
.singular .entry-header
{
	min-height: 48px;
	background: #EEEEE1;
	border: thin solid #A8BB61;
	padding: 8px 0;
	margin: 0 0px 15px;
	height: auto !important;
}
.singular .entry-meta.row
{
	margin-bottom: 15px;
}
.singular .entry-meta P
{
	text-align: right;
}
.singular .entry-meta.row P
{
	border-bottom: 1px solid #E6E6E6;
	padding-bottom: 5px;
	margin-bottom: 0px;
}
.singular .entry-header .entry-title
{
	font-size: 26px;
	font-size: 1.625rem;
	margin: 0px;
	vertical-align: baseline;
	color: #A8BB61;
}
BODY.at-responsive-theme.singular .content-row ARTICLE .content-wrapper
{
	background-color: transparent;
}
/*Gallery Page
------------------------------------------------------------*/
.entry-content .soliloquy-container:not(.soliloquy-thumbnails-container) .soliloquy-wrapper
{
	background: #E0E0E0;
}
.entry-content .soliloquy-thumbnails-container
{
	background: #ABABAB;
}
.entry-content .soliloquy-thumbnails-container .soliloquy-image
{
	border: thin solid #FFFFFF;
}
/*Archives Page
------------------------------------------------------------
404 Page
------------------------------------------------------------*/
.error404 .archive-page UL LI:not(.columns), .error404 .entry-content UL LI:not(.columns)
{
	list-style-type: square;
	margin: 0 0 0 30px;
	padding: 0;
}
.archive-page UL UL, .entry-content OL OL, .entry-content UL UL
{
	padding: 0;
}
.archive-page
{
	float: left;
	padding: 20px 0 0;
	width: 45%;
}
.error404 .entry-content .search-form
{
	width: 75%;
}
.error404 .search-form LABEL
{
	width: 50%;
	float: left;
	margin-right: 20px;
}
.error404 .search-form .search-submit
{
	margin-top: 2px;
}
/*Feedburner Member Subscription
------------------------------------------------------------*/
.feedblitz-email-subscription INPUT[type=submit]
{
	background: #A8BB61;
	border: none;
	-webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
	color: #FFFFFF;
	padding: 5px 10px;
	font-size: 1rem;
	height: 36px;
}
.feedblitz-email-subscription INPUT[type=submit]:hover
{
	background: #8FA053;
	color: #000000;
}
/*Related Posts Widget
------------------------------------------------------------*/
.rpwe_widget .rpwe-ul LI
{
	border-bottom: thin dotted #B5B5B3;
	margin-bottom: 0 !important;
	padding: 0 !important;
}
.rpwe_widget .rpwe-ul LI:last-child
{
	border-bottom: none;
}
.widget-area .recent-posts-extended .rpwe-ul IMG.rpwe-thumb
{
	border: 1px solid #FFF !important;
	-webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2) !important;
	-moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2) !important;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2) !important;
}
.rpwe_widget .rpwe-ul LI A
{
	font-size: 1rem;
}
.rpwe_widget .rpwe-ul LI .rpwe-time
{
	font-size: 0.8rem;
}
.ltTabletTall .at-related-posts-widget H4.widgettitle
{
	padding-left: 0px;
	padding-right: 0px;
}
ASIDE.at-related-posts-widget .widget-frame
{
	background: transparent;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.ltTabletTall .at-related-posts-widget .widgettitle A
{
	background: #EEEEE1;
	color: #333;
}
.at-related-posts-widget .at-related-posts-thumbnail IMG
{
	max-width: 300px;
	max-height: 200px;
}
/*Top Link
------------------------------------------------------------*/
#top-link-block .row .top-link-col
{
	background: #E3E9CC;
}
